:root {
  --title-color: #111111;
  --accent-color: #fd9222;
  --main-text-color: #ffffff;
  --second-text-color: #111111;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.section-title span {
  color: var(--accent-color);
}

/** --------------HEADER--------------- */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
  display: flex;
  align-items: center;
}

.header-logo span {
  font-style: italic;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  gap: 24px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #111111;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.header-menu-link:is(:hover, :focus) {
  color: #fd9222;
}

.header-soc {
  display: flex;
  margin-left: 90px;
}

/** --------------HERO--------------- */

.hero {
  padding-bottom: 72px;
}

.hero-container {
  background-color: #765f3d;
  border-radius: 30px;
  padding: 381px 40px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}
.hero-btn {
  /* min-width: 144px;
  height: 45px; */
  padding: 14px 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  background: #fd9222;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-right: 14px;
}

.hero-link {
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-text-color);
  border: 1px solid #ffffff;
  border-radius: 100px;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--main-text-color);
  margin-left: auto;
}

/** --------------BENEFITS--------------- */

.benefits {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits-list {
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
  gap: 88px;
}

.benefits-item {
  width: calc((100% - 176px) / 3);
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin-bottom: 18px;
}

.benefits-item-text {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/** --------------PRODUCTS--------------- */

.products {
  padding-top: 100px;
  padding-bottom: 100px;
}
.products-title {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.products-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--second-text-color);
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.products-list {
  display: flex;
  gap: 19px;
}
.products-item {
  width: calc((100% - 19px * 3) / 4);
  border-radius: 15px;
  padding: 28px 36px 28px 28px;
}

.products-item:nth-child(even) {
  background-color: #ffffff;
  border: 1px solid #fd9222;
}

.products-item:nth-child(3) {
  background-color: #1e1823;
}

.products-item:first-child {
  background-color: #fd9222;
}
.products-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 36px;
}

.products-subtitle.light {
  color: var(--main-text-color);
}

.products-subtitle.dark {
  color: var(--second-text-color);
}

/** --------------MADE--------------- */

.made {
  padding-bottom: 100px;
}
.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  gap: 20px;
}

.made-content {
  padding: 32px;
  background-color: #ffffff;
  border-radius: 15px;
}

.made-img {
}
.made-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
  max-width: 350px;
  margin-bottom: 28px;
}
.made-list {
  /* display: flex;
  flex-direction: column;
  gap: 24px; */
  max-width: 452px;
  padding-left: 16px;
}
.made-item:not(:last-child) {
  margin-bottom: 24px;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

/** --------------LOVED--------------- */

.loved {
  padding-bottom: 100px;
}
.loved-title {
  margin-bottom: 91px;
}
.loved-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 28px;
  margin-bottom: 50px;
}
.loved-item {
  width: calc((100% - 56px) / 3);
  background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 56px 24px 24px 24px;
}
.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
  margin-bottom: 24px;
}
.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.loved-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #111111;
  cursor: pointer;
  padding: 14px 40px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

/** --------------FOOTER--------------- */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding-bottom: 54px;
  margin-bottom: 24px;
}
.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 300px;
}

.footer-text span {
  color: #fd9222;
}
.footer-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  margin-bottom: 14px;
}
.footer-address {
  font-style: normal;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.footer-navigation {
}
.footer-menu {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}
