:root {
  --title-color: #111111;
  --accent-color: #fd9222;
  --main-text-color: #ffffff;
  --second-text-color: #111111;
  --transition: 300ms linear;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.section-title span {
  color: var(--accent-color);
}

/** --------------HEADER--------------- */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
  display: flex;
  align-items: center;
}

.header-logo span {
  font-style: italic;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  gap: 24px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #111111;
  transition: color var(--transition);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.deswfeqrwf {
  position: relative;
}

.deswfeqrwf::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fd9222;
}

.header-menu-link:is(:hover, :focus) {
  color: #fd9222;
}

.header-soc {
  display: flex;
  margin-left: 90px;
  gap: 18px;
}

.header-soc-icon {
  fill: #111111;
  transition: fill var(--transition);
}

.header-soc-link:hover .header-soc-icon,
.header-soc-link:focus .header-soc-icon {
  fill: #fd9222;
}

/** --------------HERO--------------- */

.hero {
  padding-bottom: 72px;
}

.hero-container {
  background-color: #765f3d;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding: 381px 40px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}
.hero-btn {
  /* min-width: 144px;
  height: 45px; */
  padding: 14px 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  background: #fd9222;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-right: 14px;
}

.hero-link {
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-text-color);
  border: 1px solid #ffffff;
  border-radius: 100px;
  transition: background-color var(--transition), border-color var(--transition);
}

.hero-link:hover,
.hero-link:focus {
  background-color: #fd9222;
  border-color: #fd9222;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--main-text-color);
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-scroll-link span {
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}

.hero-scroll-icon {
  fill: #fd9222;
  transition: fill var(--transition);
}

.hero-scroll-link:hover span {
  background-color: tomato;
}

.hero-scroll-link:hover .hero-scroll-icon {
  fill: #ffffff;
}

/** --------------BENEFITS--------------- */

.benefits {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits-list {
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
  gap: 88px;
}

.benefits-item {
  width: calc((100% - 176px) / 3);
  position: relative;
}

.benefits-item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -18px;
  top: 60px;
  height: 124px;
  width: 1px;
  background-color: #ffffff;
  display: block;
}

/* .benefits-item::before {
  content: '';
  display: block;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-item:first-child:before {
  background-image: url(../images/chocolate-bar.svg);
}
.benefits-item:nth-child(2):before {
  background-image: url(../images/coin.svg);
}
.benefits-item:last-child:before {
  background-image: url(../images/spoon.svg);
} */

.benefits-item-block {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin-bottom: 18px;
}

.benefits-item-text {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/** --------------PRODUCTS--------------- */

.products {
  padding-top: 100px;
  padding-bottom: 100px;
}
.products-title {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.products-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--second-text-color);
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.products-list {
  display: flex;
  gap: 19px;
}
.products-item {
  width: calc((100% - 19px * 3) / 4);
  border-radius: 15px;
  padding: 28px 36px 28px 28px;
  position: relative;
  overflow: hidden;
}

.products-item:hover .products-cover-block {
  transform: translate(0);
}

.products-item:nth-child(even) {
  background-color: #ffffff;
  border: 1px solid #fd9222;
}

.products-item:nth-child(3) {
  background-color: #1e1823;
}

.products-item:first-child {
  background-color: #fd9222;
}
.products-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 36px;
}

.products-subtitle.light {
  color: var(--main-text-color);
}

.products-subtitle.dark {
  color: var(--second-text-color);
}

.products-cover-block {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
  border-radius: 14px;
  padding: 20px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition);
}

.products-cover-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 14px;
}
.products-cover-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

/** --------------MADE--------------- */

.made {
  padding-bottom: 100px;
}
.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  gap: 20px;
}

.made-content {
  padding: 32px;
  background-color: #ffffff;
  border-radius: 15px;
}

.made-img {
}
.made-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
  max-width: 350px;
  margin-bottom: 28px;
}
.made-list {
  /* display: flex;
  flex-direction: column;
  gap: 24px; */
  max-width: 452px;
  padding-left: 16px;
}

.made-item {
  position: relative;
}
.made-item:not(:last-child) {
  margin-bottom: 24px;
}

.made-item::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -16px;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

/** --------------LOVED--------------- */

.loved {
  padding-bottom: 100px;
}
.loved-title {
  margin-bottom: 91px;
}
.loved-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 28px;
  margin-bottom: 50px;
}
.loved-item {
  width: calc((100% - 56px) / 3);
  background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 56px 24px 24px 24px;
  position: relative;
}

.loved-image {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}
.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
  margin-bottom: 24px;
}
.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.loved-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #111111;
  cursor: pointer;
  padding: 14px 40px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

/** --------------FOOTER--------------- */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding-bottom: 54px;
  margin-bottom: 24px;
}
.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 300px;
}

.footer-text span {
  color: #fd9222;
}
.footer-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  margin-bottom: 14px;
}
.footer-address {
  font-style: normal;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.footer-navigation {
}
.footer-menu {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 24, 35, 0.575);
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform var(--transition);
  width: 500px;
  min-height: 600px;
  background-color: #fafafa;
  border-radius: 15px;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(-360deg);
}

.modal-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-btn-icon {
  stroke: #111111;
}

.modal-title {
  text-align: left;
  max-width: 298px;
  margin-bottom: 40px;
}

.modal-field {
  margin-bottom: 18px;
}
.modal-input {
  width: 100%;
  height: 68px;
  border: 2px solid rgba(17, 17, 17, 0.1);
  border-radius: 13px;
  background-color: transparent;
  padding-left: 62px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: #404040;
  outline: transparent;
  transition: border-color 300ms linear;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .input-icon {
  stroke: #fd9222;
}

.modal-input::placeholder,
.modal-textarea::placeholder {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

/* .modal-input:valid {
  background-color: rgba(127, 255, 212, 0.502);
}

.modal-input:invalid {
  background-color: rgba(255, 191, 127, 0.502);
} */

.modal-label {
  font-size: 14px;
  color: #4c4c4c;
  margin-bottom: 5px;
  display: inline-block;
}

.input-wrap {
  position: relative;
}

.input-icon {
  fill: transparent;
  stroke: #111111;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 300ms linear;
}

.modal-textarea {
  width: 100%;
  height: 137px;
  border: 2px solid rgba(17, 17, 17, 0.1);
  border-radius: 13px;
  background-color: transparent;
  padding: 22px 24px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: #404040;
  outline: transparent;
  resize: none;
}

.check-text {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  align-items: center;
}

.check-text span {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-text a {
  color: #fd9222;
  text-decoration: underline;
}

.input-check:checked + .check-text span {
  background-color: #fd9222;
  border: none;
  fill: #ffffff;
}

.input-check:focus + .check-text span {
  border-color: #fd9222;
}

.modal-send-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  padding: 14px 40px;
  border-radius: 100px;
  background-color: #fd9222;
  border: 1px solid transparent;
  cursor: pointer;
  transition: color var(--transition), background-color var(--transition),
    border-color var(--transition);
}

.modal-send-btn:is(:hover, :focus) {
  color: #111111;
  background-color: transparent;
  border-color: #fd9222;
}
